# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.fasto'
'name': 'fasto'
'fileTypes': [
  'fo'
]
'patterns': [
  {
    'match': '^\\s*@@.*$'
    'name': 'comment'
  }, {
    'match': '\\b(bool|float|int|char)\\b'
    'name': 'constant.numeric.fasto'
  }, {
    "include": "#quoted-strings"
  }, {
    "include": "#constants"
  }, {
    "include": "#keywords"
  }, {
    "include": "#operators"
  }, {
    "include": "#functions"
  }, {
    "include": "#line_comment"
  }
]

"repository": {
  'line_comment': {
    'comment': 'Single-line comment'
    'name': 'comment.line.fasto'
    'begin': '//'
    'end': '$'
  },
  "quoted-strings": {
    "patterns": [{
      "comment": "Interpreted string literals",
      "begin": "\"",
      "beginCaptures": {
        "0": {
          "name": "punctuation.definition.string.begin.fasto"
        }
      },
      "end": "\"",
      "endCaptures": {
        "0": {
          "name": "punctuation.definition.string.end.fasto"
        }
      },
      "name": "string.quoted.double.fasto"
    }]
  },
  "constants": {
    "patterns": [{
      "match": "\\b(([0-9]+\\.?[0-9]*)|([0-9]+\\.?[0-9]*)((e|E)(\\+|-)?[0-9]+)?)\\b",
      "name": "constant.numeric.fasto"
    }, {
      "match": "\\b(?<!\\.)(?i)(true|false)(?-i)\\s",
      "name": "constant.language.fasto"
    }]
  },
  "keywords": {
    "patterns": [{
      "match": "\\s(?i)(if|then|else|in|=>)(?-i)\\s",
      "name": "keyword.control.fasto"
    }, {
      "match": "\\b(fun|fn|let)\\b",
      "name": "keyword.control.fasto"
    }]
  },
  "functions": {
    "patterns": [{
      "match": "\\b(write|read|scan|map|reduce|iota|replicate)\\s*(?=\\()",
      "name": "entity.name.function.fasto"
    }]
  },
  "operators": {
    "patterns": [{
      "match": "=",
      "name": "keyword.operator.assignment.fasto"
    }, {
      "match": "(==|<=|>=|<|>)",
      "name": "keyword.operator.comparison.fasto"
    }, {
      "match": "(&&|\\|\\|)",
      "name": "keyword.control.fasto"
    }]
  }
}
